################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/_ReSharper.Caches/ReSharperPlatformVs16201_a88a91cb.00
